<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Add User</title></head>
<body>
<h1>Add User</h1>
<form th:action="@{/users/save}" th:object="${userDTO}" method="post">
    <label>Username: <input type="text" th:field="*{username}" /></label><br/>
    <label>Password: <input type="password" th:field="*{password}" /></label><br/>
    <label>Role: <input type="text" th:field="*{role}" /></label><br/>
    <label>Employee:
        <select th:field="*{employeeId}">
            <option th:each="e: ${employees}" th:value="${e.id}" th:text="${e.empFirstName + ' ' + e.empLastName}"></option>
        </select>
    </label><br/>
    <button type="submit">Save</button>
</form>
<a th:href="@{/users}">Back to list</a>
</body>
</html>
